<%= javascript_pack_tag 'index', 'data-turbolinks-track': 'reload' %>


<div class ="container">
    <div class="row" ></>
      <div class="col-md-12">
        <h1>To Do List</h1>
      </div>
      <div id='tasks'>
      </div>

      <form id="create-task">
        <input id="new-task-content" type="text" placeholder="new task"/>
        <button>Create</button>
      </form>
     
      <div id="showAll">
        <button>All</button>
      </div>
      <div id="showCompleted">
        <button>Completed</button>
      </div>
      <div id="showIncompleted">
        <button>Active</button>
      </div>