.container{
    display: flex;
    justify-content: center;
}
button{
    border-radius: 10px;
    border:none;
    margin: 5px;
    background-color: blue;
    color: white;
}

.delete {
    margin-right: 10px;

}
#tasks{
width: 400px;
}

.row{
    display:inline-block;
    text-align:center;
}
.taskToggle{
    margin-top: 15pc;
}
.tasks-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 900px;
}
.tasks{
    display:inline-block;
    text-align:center;
}
.content{
    display:inline-block;
    text-align:left;
}

.delete{
    margin-left: 15px;
}